$grey: #B6B6B6;

$grey-dark: #343434;

$grey-light: #B6B6B6;



@media only screen and (max-width:1250px){

// ----------- SECTIONS -----------


    #main {
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
    }

    .suum-desc, .labor-desc {
        flex-direction: column;

    }

    .tempora-desc {

        flex-direction: column;
    }
    
    .suum-icon, .labor-icon {
        width: 40%;
        height: 200px;
        
    }


    // ----------- SUUM CUIQUE -----------


#suum {
    margin-top: 200px;
}

.suum-icon {
    margin-top: 0px;
    background-image: url(images/suum.png);
    margin-bottom: 60px;
}


.suum-title {
    font-size: 64px;
}

.suum-title-2 {
    font-size: 26px;
    margin-bottom: 60px;
}

.suum-text {
    margin-top: 80px;
    width: 70%;
    margin-bottom: 100px;
}

#welcome {
    width: 622px;
    height: 350px;
}


// ----------- LABOR OMNIA VINCIT -----------


.labor-title {
    font-size: 64px;
}

.labor-title-2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.labor-text {
    margin-bottom: 100px;
    width: 70%;
}


#quiz {
    width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 100px;
}

#quiz:hover {
    width: 100%;
    height: 600px;

}


// ----------- TEMPORA MUTANTUR -----------

#tempora {
    margin-top: 100px;
    margin-bottom: 100px;
}


.tempora-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tempora-icon {
    height: 200px;
    width: 40%;
}


.tempora-title {
    font-size: 64px;
}

.tempora-title-2 {
    font-size: 26px;
    margin-bottom: 60px;
}

.tempora-text {
    margin-top: 100px;
    width: 70%;
}

#live {
    width: 622px;
    height: 350px;
}

  }

















  @media only screen and (max-width:700px){

    // ----------- SECTIONS -----------
    
    
        #main {
            width: 100%;
            padding: 30px;
            box-sizing: border-box;
        }
    
        .suum-desc, .labor-desc {
            flex-direction: column;
    
        }
    
        .tempora-desc {
    
            flex-direction: column;
        }
        
        .suum-icon, .labor-icon {
            width: 40%;
            height: 200px;
            
        }


        nav {
            display: none;
        }
    
        .bar-2 {
            position: fixed;
            width: 100%;
            height: 70px;
            top: 0;
            color: white;
            z-index: 40;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 100%);
            font-family: Felix;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }


        .hero-2 {
            display: flex;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            font-family: Felix;
            font-size: 42px;
            color: white;
        }








    
        // ----------- SUUM CUIQUE -----------
    
    
    #suum {
        margin-top: 100px;
    }
    
    .suum-icon {
        margin-top: 0px;
        background-image: url(images/suum.png);
        margin-bottom: 60px;
    }
    
    
    .suum-title {
        font-size: 40px;
    }
    
    .suum-title-2 {
        font-size: 20px;
        margin-bottom: 60px;
    }
    
    .suum-text {
        margin-top: 80px;
        width: 100%;
        margin-bottom: 100px;
        font-size: 16px;
        line-height: 22px;
    }
    
    #welcome {
        width: 100%;
        height: 200px;
        box-shadow: 0px 0px 0px 0px $grey;
    animation-name: none;
    }
    
    
    // ----------- LABOR OMNIA VINCIT -----------
    
    
    .labor-title {
        font-size: 40px;
    }
    
    .labor-title-2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .labor-text {
        margin-bottom: 100px;
        width: 100%;
        font-size: 16px;
    }
    
    
    #quiz {
        width: 100%;
        height: 500px;
        margin-top: 60px;
        margin-bottom: 100px;
    }
    
    #quiz:hover {
        width: 100%;
        height: 500px;
    
    }
    
    
    // ----------- TEMPORA MUTANTUR -----------
    
    #tempora {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    
    .tempora-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .tempora-icon {
        height: 200px;
        width: 40%;
    }
    
    
    .tempora-title {
        font-size: 40px;
    }
    
    .tempora-title-2 {
        font-size: 20px;
        margin-bottom: 60px;
    }
    
    .tempora-text {
        margin-top: 100px;
        width: 100%;
        font-size: 16px;
    }
    
    #live {
        width: 100%;
        height: 200px;
        box-shadow: 0px 0px 0px 0px $grey;
    animation-name: none;
    
    }
    
    
// ----------- ABOUT -----------


#about {
    display: none;
}

.about-2 {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    transition: all 250ms ease-in-out;
    z-index: 40;
    overflow: scroll;
    background: radial-gradient(#000000, #ffffff);
    background-size: 200% 500%;
    animation: cor 30s ease infinite;
    opacity: 0;
    right: -100vw;
    padding: 20px;
    box-sizing: border-box;

}

.change {
    opacity: 1;
    right: 0vw;
}


#about-container-2 {
    width: 100%;
    height: auto;
    color: white;
}




.about-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    background-image: url(images/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
    right: 25px;
    cursor: pointer;
    color: black;
    filter: drop-shadow(0px 0px 2px);
    z-index: 50;
}



.about-title-2 {
    font-family: Felix;
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.about-text-2 {
    width: 80%;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
}


.about-logo {
    position: relative;
    background-image: url(images/Elipse.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.about-manual {
    text-align: center;
    font-family: Felix;
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    color: white;
    filter: drop-shadow(0px 0px 7px black);
    text-decoration: underline;
}

.about-manual:hover::before {
    transform: scaleX(0);

}

// ----------- COUNTERS -----------



.line {
    width: 100%;
    height: 2px;
    background-color: white;
    background: linear-gradient(90deg, #000 0%, #fff 50%, #fff 50%, #000 100%);
    background-size: 800px;
    animation: lines 10s linear infinite;
    background-position: -800px;
    z-index: 10;
}

@keyframes lines {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -800px;
    }
}


.count-labor, .count-tempora {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    color: $grey-dark;
    margin-top: 20px;
    margin-bottom: 20px;

}

.count-title {
    font-family: Felix;
    font-size: 20px;
}

.count-text {
    font-family: Sprat;
    font-size: 16px;
}

#counter-1, #counter-2 {
    font-family: Felix;
    font-size: 20px;
}




}
