@font-face {
    font-family: Felix;
    src: url(fonts/Felix-Titling.ttf);
  }

@font-face {
    font-family: Sprat;
    src: url(fonts/Sprat-RegularMedium.otf);
  }

  $grey: #B6B6B6;

  $grey-dark: #343434;

  $grey-light: #B6B6B6;

::selection {
    background-color: $grey-dark;
    color: $grey-light;
}


body {
    margin: 0px;
    font-family: Sprat;
}




#circle {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("images/Elipse.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -0;

}

#background {
    width: 100%;
    height: auto;
    background-size: cover;
    z-index: -20;

}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    background: linear-gradient(90deg, #000 0%, #fff 50%, #fff 50%, #000 100%);
    background-size: 800px;
    animation: lines 10s linear infinite;
    background-position: -800px;
    z-index: 10;
}

@keyframes lines {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -800px;
    }
}

// ----------- NAV -----------

nav {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    text-align: center;
    font-family: Felix;
    font-size: 64px;
    top: 0px;
    line-height: 0px;

    box-shadow: none;
    color: white;
    transition: 750ms;

    
}

.bar {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 0px;
    margin-top: 0px;
    text-align: center;
    box-sizing: border-box;
    font-family: Felix;
    line-height: 50px;
    font-size: 20px;
    top: 0px;
    box-shadow: 0px 0px 60px 40px $grey;
    color: white;
    animation-name: bar;
    animation-timing-function: ease-in-out;
    animation-duration: 5s ease-in-out;
    animation-iteration-count: infinite;
}


.nav-2 {
    display: none;
}

.hero-2 {
    display: none;
}


@keyframes bar {
    0%   {box-shadow: 0px 0px 60px 20px $grey;}
    50%  {box-shadow: 0px 0px 60px 40px $grey-dark;}
    100%  {box-shadow: 0px 0px 60px 20px $grey;}
  }

#main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}


// ----------- SECTIONS -----------



#main {
    width: 1200px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#suum, #labor, #tempora {
    width: 100%;
    height: auto;
    z-index: 1;
}


.suum-desc, .labor-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.suum-icon, .labor-icon {
    width: 25%;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.suum-desc, .labor-desc, .tempora-desc {
    font-size: 20px;
    text-align: justify;
}


// ----------- SUUM CUIQUE -----------


#suum {
    margin-top: 200px;
}

.suum-icon {
    margin-top: 80px;
    background-image: url(images/suum.png);
}


.suum-title {
    font-family: Felix;
    font-size: 64px;
    color: white;
    filter: drop-shadow(0px 0px 7px black);
}

.suum-title-2 {
    font-family: Felix;
    font-size: 26px;
    color: white;
    margin-bottom: 60px;
}

.suum-text {
    margin-top: 80px;
    width: 70%;
    color: $grey-dark;
    margin-bottom: 100px;
}

#welcome-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#welcome {
    width: 800px;
    height: 450px;
    box-shadow: 0px 0px 60px 40px $grey;
    animation-name: welcome;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: $grey;
}

@keyframes welcome {
    0%   {box-shadow: 0px 0px 60px 20px $grey;}
    50%  {box-shadow: 0px 0px 60px 60px $grey-dark;}
    100%  {box-shadow: 0px 0px 60px 20px $grey;}
  }



// ----------- LABOR OMNIA VINCIT -----------

#labor {
    margin-top: 60px;
}

.labor-icon {
    background-image: url(images/labor.png);
}

.labor-title {
    font-family: Felix;
    font-size: 64px;
    color: black;
    filter: drop-shadow(0px 0px 7px black);
}

.labor-title-2 {
    font-family: Felix;
    font-size: 26px;
    color: black;
    margin-bottom: 20px;
}

.labor-text {
    width: 70%;
    color: black;
}


#quiz {
    width: 800px;
    height: 300px;
    margin-top: 60px;
    box-shadow: 0px 0px 60px 40px $grey;
    transition: all 500ms ease-in-out;
    animation-name: welcome;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-bottom: 100px;
}

#quiz:hover {
    width: 1200px;
    height: 520px;


}

.ola {
    font-family: Felix;
    font-size: 36px;
}

.ola-2 {
    margin-top: -10px;
    font-family: sprat;
    font-size: 20px;
}

.ola-btn {
    font-family: Felix;
    font-size: 20px;
    padding: 5px 20px 0px 20px;
    border: none;
    background-color: transparent;
    transition: all 500ms ease-in-out;

    box-shadow: 0px 0px 20px 10px $grey;
}


.ola-btn:hover {
    animation-name: welcome;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: white;
}

#age {
    width: 50px;
    border: none;
    outline: solid 1px black;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 10px;
    height: 30px;
    font-size: 20px;
    font-family: Felix;
}


#n451, #n392, #n420, #n699, #n543, #n291, #n704, #n547 {
    width: 50%;
    font-family: Felix;
    text-align: left;
    font-size: 36px;
} 




// ----------- TEMPORA MUTANTUR -----------

#tempora {
    margin-top: 100px;
    margin-bottom: 200px;
}


.tempora-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tempora-icon {
    height: 300px;
    width: 25%;
    margin-top: 100px;
    background-image: url(images/tempora.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}


.tempora-title {
   
    font-family: Felix;
    font-size: 64px;
    color: white;
    filter: drop-shadow(0px 0px 7px black);
}

.tempora-title-2 {
   
    font-family: Felix;
    font-size: 26px;
    color: white;
    margin-bottom: 60px;
}

.tempora-text {
    margin-top: 100px;
    width: 70%;
    color: $grey-light;
}


#live-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


#live {
    width: 800px;
    height: 450px;
    box-shadow: 0px 0px 60px 40px $grey;
    animation-name: welcome;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: $grey;
}



//      FINALE


.finale-img {
    width: 100%;
    height: auto;
}




// ----------- ABOUT -----------


.about-2{
    display: none;
}


#about-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(#000000, #ffffff);
    background-size: 200% 500%;
    animation: cor 30s ease infinite;
    filter: blur(10px)
}




@keyframes cor {
    0% {
        background-position: 58% 0%;
    }

    50% {
        background-position: 43% 100%;
    }

    100% {
        background-position: 58% 0%;
    }
}


#about {
    display: flex;
    position: fixed;
    right: 0px;
    flex-direction: column;
    width: 3vw;
    height: 100vh;
    animation: disap .5s;
    animation-timing-function: cubic-bezier(0, 1, 0.9, 0.8);
    transition: width .5s;
    justify-content: space-between;
    z-index: 2;
}

#about:hover {
    width: 50vw;
    z-index: 4;
}



@keyframes disap {
    0% {
        width: 20vh;
    }

    100% {
        width: 4.76vh;
    }
}

#about-container {
    width: 100%;
    height: 100vh;
    z-index: 5;
    padding: 6vw;
    box-sizing: border-box;
    color: white;
    position: relative;
    margin: 70px;
}

#about-container:hover {
    margin: 0px;
}


.about-title {
    font-family: Felix;
    font-size: 36px;
    margin-bottom: 10px;
}


.about-logo {
    position: absolute;
    background-image: url(images/Elipse.gif);
    display: flex;
    justify-content: center;
    align-items: center ;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.about-manual {
    text-align: center;
    font-family: Felix;
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    color: white;
    filter: drop-shadow(0px 0px 7px black);
    text-decoration: none;
}


.about-manual::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;

}

.about-manual:hover::before {
    transform: scaleX(1);

}



// ----------- COUNTERS -----------



.line {
    width: 100%;
    height: 2px;
    background-color: white;
    background: linear-gradient(90deg, #000 0%, #fff 50%, #fff 50%, #000 100%);
    background-size: 800px;
    animation: lines 10s linear infinite;
    background-position: -800px;
    z-index: 0;
}

@keyframes lines {

    0% {
        background-position: 0px;
    }

    100% {
        background-position: -800px;
    }
}


.count-labor, .count-tempora {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw 0vw 10vw;
    box-sizing: border-box;
    color: $grey-dark;
    margin-top: 20px;
    margin-bottom: 20px;

}

.count-title {
    font-family: Felix;
    font-size: 30px;
}

.count-text {
    font-family: Sprat;
    font-size: 20px;
}

#counter-1, #counter-2 {
    font-family: Felix;
    font-size: 30px;
}





